*{
	margin: 0;
	padding: 0;
}

html{
	font-size: 10px;
}

.header{
	width: 100vw;
	min-height: 38rem;
	background: url("../img/ekg.svg") top/cover no-repeat;
}

h2 a:link, h2 a:visited{
	position: absolute;
	top: 15rem;
	left: 5rem;
	text-decoration: none;
	font-family: 'Yesteryear', cursive;
	color: #002db3;
	font-size: 11rem;
	text-align: right;
	vertical-align: baseline;
	text-shadow: 2px 2px #000000;
}

h2 a:hover, h2 a:focus{
	color: #99b3ff;
}

h3{
	color: #0040ff;
	font-size: 2.3rem;
	font-family: 'Pacifico', cursive;
	position: absolute;
	left: 50rem;
	top: 28rem;
	text-shadow: 1px 1px #000000;
}

#nav{
	width: 20%;
	float: left;
}

#navigation{
	display: flex;
	flex-direction: column;
}

.main_nav{
	list-style-type: none;
	width: 100%;
	line-height: 100%;
	text-align: center;
}

.main_nav a{
	font-size: 1.8rem;
	height: 7.5rem;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#navigation li:not(:first-child){
	border-top: .2rem solid #ff884d;
}

.main_nav a:link, .main_nav a:visited{
	text-decoration: none;
	font-family: 'Cinzel', serif;
	color: #000000;
	background-color: #FFE5B4;
}

.main_nav a:hover, .main_nav a:focus{
	background-color: #ff884d;
	color: #ffffff;
	border-top-right-radius: 2rem;
	border-bottom-right-radius: 2rem;
	border-top-left-radius: .5rem;
	border-bottom-left-radius: .5rem;
	
	-ms-transform: translate(2rem, 0);
    -webkit-transform: translate(2rem, 0);
    transform: translate(2rem, 0);
}

.content{
	width: 80%;
	background-color: #ffffff;
	float: left;
}

#content_about{
	height: 100rem;
	background-color: #292929;
}